# Python / Django
__pycache__/
*.py[cod]
*$py.class
*.sqlite3-journal

# Environments
venv/
env/
.env

# Staticfiles collected during deployment
staticfiles/

# IDE / OS
.vscode/
.idea/
.DS_Store
Thumbs.db
